*{
    box-sizing: border-box;
    /* margin-top: 20px; */
    margin: 0;
    padding: 0;
}

/* ---------------Navbar styling----------------------------------------------------- */
#navBar{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 30px auto;
    padding: 10px;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.nav1{
    padding: 10px;
}
.nav2{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nav2 .odin_img{
    width: 300px;
    vertical-align: middle;
}
/* ---------------------------------------------------------------------------------- */

.myLogo{
    /* display: block; */
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
}

.food_img{
    height: 300px;
    width: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    border-radius: 15px;

    transition: transform 0.5s ease;
}
.food_img:hover{
    transform: scale(1.05);
}

h1{
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}

p, li{
    font-size: 2rem;
}

ul{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    justify-content: space-evenly;
}

li{
    /* flex: 1; */
    list-style-type: none;
    text-align: center;
}

@media (max-width: 767px) {
  #navBar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    margin-top: 0;
    border-radius: none;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .hide-on-mobile {
    display: none;
  }

  .nav2 {
    flex-direction: column;
    gap: 5px;
  }

  .nav2 p {
    margin: 0;
  }

  .odin_img {
    width: 200px; 
  }

  .myLogo {
    width: 120px;
  }
}

@media (max-width: 767px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 100%; 
    margin-bottom: 20px;
  }

  .food_img {
    width: 80%; 
    height: auto; 
    max-width: 400px;
  }
}